.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px 20% 150px 20%;
    line-height: 2;
}

.r {
    display: flex;
    align-items:center;
    gap: 50px;
}

#profilepic {
    max-width: max(25%, 220px);
    margin-top: 30px;
    margin-bottom: auto;
    filter: drop-shadow(0 0 0.5rem rgb(213, 213, 213));
    border-radius: 50%;
}

.social {
    display: flex;
    
}

.social p {
    margin-top: 0;
}

svg {
    margin-top: 7px;
    margin-right: 15px;
}

a {
    color: black;
}