.clicky {
    all: unset;
    background-color: #192142;
    color: white;
    padding: 15px 25px;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.5rem rgb(213, 213, 213));
    cursor: pointer;
}

.clicky:hover {
    background-color: #283258;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 20px;
}

.f {
    max-width: 400px;
    min-width: 300px;
    flex: 1 1 100px;
}

.wrapper {
    margin-top: 30px;
}

.toptext {
    max-width: 500px;
    min-width: 300px;
    flex: 1 1 100px;
}