.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #192142;
    height: 80px;
    padding-right: 20px;
    filter: drop-shadow(0 0 0.5rem rgb(213, 213, 213));
    font-weight: 500;
    font-size: 1.15rem;
    padding-right: 10%;
    padding-left: max(10%,25px);
    letter-spacing: 3px;
}

.nav * {
    all: unset;
    color: white;
    cursor: pointer;
}

.click, #click2 {
    padding: 15px 25px 15px 25px;
}

#clickable {
    display: flex;
    align-items: center;
}

.click:hover {
    background-color: #283258;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    letter-spacing: 1px;
  }
    
  .dropdown-content a {
    background-color: #283258;
    text-align: left;
    min-width: 200px;
    padding: 20px;
    padding-left: 25px;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #404b7b;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown:hover #c1 {
    background-color: #283258;
  }